.sort_blue01{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* 背景 */
.sort_blue01_bg{
    width: 100%;
    height: 100%;
}
.sort_blue01_bg_l{
    width: 65%;
    height: 100%;
    background-color: #568080;
    float:left;
} 
.sort_blue01_bg_r{
    width: 35%;
    height: 100%;
    background-color: #2e4553;
    float: right;
}
/* 前方圖片與色塊 */
.sort_blue01_top{
    width: 90%;
    height: 100%;
    margin: -80vh 0 0 0;
    float: right;
}
.sort_blue01_top>figure{
    width: 100%;
    height: 80%;
    background: url(../images/article/27683687837_a79ca6f457_k.jpg) no-repeat 60% bottom;
    background-size: cover;
    position: relative;
}
.sort_blue01_top_box1{
    height: 20%;
    width: 40%;
    background-color: #568080;
    position: absolute;
    bottom: 0;
    left: 0;
}
.sort_blue01_top_box2{
    width: 20%;
    height: 15%;
    background-color: #2e4553;
    position: absolute;
    top: 0;
    right: 0;
}
.sort_blue01_top_topic{
    z-index: 5;
    position: absolute;
    left: 10%;
    bottom: 17%;
}
.sort_blue01_top_topic>h2{
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: #fff;
    font-family: 'Playfair Display';
}
.sort_blue01_top_topic>h3{
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #fff;
    font-family: 'SourceHanSerifTC-Bold';
}

/* part5 */
.sort_blue05{
    /*width: 70%;*/
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}
.sort_blue05_sec1{
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
}
.sort_blue05_sec1 li{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    line-height: 20px;
    letter-spacing: 0.1em;
}
.sort_blue05_filter{
    width: 130px;
    background-color: #000;
    border-radius: 40px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.sort_blue05_filter:hover{
    background-color: #666;
}
.sort_blue05_filter>figure{
    width: 20px;
    height: 20px;
    background: url(../images/icon/filter.svg) no-repeat center center;
    background-size: cover;
    margin-left: 10px;
    float: left;
}
.sort_blue05_byprice>figure, .sort_blue05_bytime>figure{
    width: 10px;
    height: 15px;
    background: url(../images/icon/next.svg) no-repeat center center;
    background-size: cover;
    margin: 3px 10px 0 3px;
    float: right;
}
.sort_blue05_row{
    width: 100%;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sort_blue05_box_s{
    width: 48%;
    height: 100%;
    position: relative;
}
.sort_blue05_box_s figure{
    background-color: rgb(250, 250, 250);
}
.sort_blue05_box_s img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product_mask h3.product_name a{
font-size: 20px;
font-family: 'Playfair Display';
font-weight: 700;
color: #fff;
line-height: 40px;
}
/* 頁碼 */
.sort_blue05_page{
    width: 100%;
    height: 40px;
    margin: 70px 0 50px 0;
    text-align: center;
}
.sort_blue05_page li{
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 10px 2px 2px 2px;
    color: #888;
    transition: all .5s;
}
.sort_blue05_page li:hover{
    color:#000;
}
.sort_blue05_page .page{
    margin: 0 8px 0 8px;
}
.sort_blue05_page .page:hover{
    border-bottom: 1px solid #000;
}
.page_prev, .page_next{
    width: 90px;
}
.page_next{
    padding-left: 10px;
}
.page_prev figure{
    height: 15px;
    width: 25px;
    background: url(../images/icon/arrow.svg) no-repeat center center;
    background-size: contain;
    float: left;
}
.page_next figure{
    height: 15px;
    width: 25px;
    background: url(../images/icon/arrow2.svg) no-repeat center center;
    background-size: contain;
    float: right;
}

/* 商品列表 */
.sort_blue05_pname{
    margin-top: 2px;
}
.sort_blue05_pname>h2{
    text-align: center;
    color: #000;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 28px;
}
.sort_blue05_pname>h3{
    text-align: center;
    color: #000;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
}

/* 手機板 */
@media screen and (max-width:800px){
/* header */
    
/* 顏色1 */
    .sort_blue02{
        padding: 50px 0; 
    }
    .sort_blue02_h2{
        font-weight: 700;
        font-family: 'Playfair Display';
        letter-spacing: 0.05em;
        text-align: left;
        color: #9cbac4;
        font-size: 80px;
        line-height: 80px;
    }
    .sort_blue02_intro_top{
        width: 100%;
        height: 60%;
        overflow: hidden;
    }
    .sort_blue02_intro_bg{
        background-color: #fff;
        width: 90%;
        height: 30vh;
        margin: 0 auto;
    }
    .sort_blue02_intro_img{
        height: 70vh;
        background: url(../images/H-blue-chair-11-side.png) no-repeat center center;
        background-size: 92%;
        margin: -80% 0 0 -32%;
    }
    .sort_blue02_intro_txt{
        width: 80%;
        margin: -50px auto 0 auto;
    }
    .sort_blue02_intro_txt > h3{
        color: #9cbac4;
        font-family: 'SourceHanSerifTC-SemiBold';
        font-size: 20px;
        line-height: 60px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    .sort_blue02_intro_txt > p{
        color: #7095a1;
        font-family: 'Noto Sans TC';
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    /* 推薦商品導引文字 */
    .sort_blue02_rec{
        text-align: center;
        padding-top: 90px;
    }
    .sort_blue02_rec > h5{
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 0.3em;
        font-family: 'Noto Sans TC';
        color: #fff;
        text-align: center;

    }
    .sort_blue02_rec > figure{
        height: 25px;
        width: 25px;
        margin: 8px auto;
    }
    .sort_blue02_rec > figure img{
        height: 100%;
        object-fit: contain;
    }
    /* 輪播商品 */
    .sort_blue02_rec_product{
        
    }
    /* 推薦商品 */
.sort_blue02_rec_product{
    height: 30%;
    justify-content: space-between;
    padding-top: 30px;
}
.sort_blue02_rec_product a{
    text-decoration: none;
}
.sort_blue02_rec_product_s{
    width: 20%;
    height: 100%;
    text-align: center;
}
.sort_blue03_rec_product_img{
    width: 100%;
    height: 100%;
}
.sort_blue03_rec_product01 img, .sort_blue03_rec_product03 img,.sort_blue03_rec_product04 img{
    height: 100%;
    width: 60%;
    object-fit: contain;
    margin: 0 auto;
}
.sort_blue03_rec_product02 img{
    height: 100%;
    width: 90%;
    object-fit: contain;
    margin: 0 auto;
}
.sort_blue02_rec_product_l{
    width: 35%;
    height: 100%;
    text-align: center;
}
.sort_blue02_rec_product01{
    height: 80%;
}
.sort_blue02_rec_product02{
    height: 80%;
    background: url(../images/H-blue-chair-06.png) no-repeat center center;
    background-size: cover;
}
.sort_blue02_rec_product03{
    height: 80%;
    background: url(../images/H-blue-chair-01.png) no-repeat center center;
    background-size: contain;
}
.sort_blue02_rec_product h6{
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-family: 'Playfair Display';
}
/* 顏色2 */
    .sort_blue03{
        padding: 50px 0; 
    }
    .sort_blue03_h2{
        font-weight: 700;
        font-family: 'Playfair Display';
        letter-spacing: 0.05em;
        text-align: left;
        color: #95C1B3;
        font-size: 80px;
        line-height: 80px;
    }
    .sort_blue03_intro_top{
        width: 100%;
        height: 60%;
        overflow: hidden;
    }
    .sort_blue03_intro_bg{
        background-color: #fff;
        width: 90%;
        height: 30vh;
        margin: 0 auto;
    }
    .sort_blue03_intro_img{
        height: 70vh;
        background: url(../images/H-green-chair-01.png) no-repeat center center;
        background-size: 80%;
        margin: -83% 0 0 -28%;
    }
    .sort_blue03_intro_txt{
        width: 80%;
        margin: -50px auto 0 auto;
    }
    .sort_blue03_intro_txt > h3{
        color: #95C1B3;
        font-family: 'SourceHanSerifTC-SemiBold';
        font-size: 20px;
        line-height: 60px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    .sort_blue03_intro_txt > p{
        color: #2E5A57;
        font-family: 'Noto Sans TC';
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    /* 推薦商品導引文字 */
    .sort_blue03_rec{
        text-align: center;
        padding-top: 90px;
    }
    .sort_blue03_rec > h5{
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 0.3em;
        font-family: 'Noto Sans TC';
        color: #fff;
        text-align: center;

    }
    .sort_blue03_rec > figure{
        height: 25px;
        width: 25px;
        margin: 8px auto;
    }
    .sort_blue03_rec > figure img{
        height: 100%;
        object-fit: contain;
    }
    /* 輪播商品 */
    .sort_blue03_rec_product{
        height: 28%;
    }
/* 顏色3 */
    .sort_blue04{
        padding: 50px 0; 
    }
    .sort_blue04_h2{
        font-weight: 700;
        font-family: 'Playfair Display';
        letter-spacing: 0.05em;
        text-align: left;
        color: #736358;
        font-size: 80px;
        line-height: 80px;
    }
    .sort_blue04_intro_top{
        width: 100%;
        height: 60%;
        overflow: hidden;
    }
    .sort_blue04_intro_bg{
        background-color: #fff;
        width: 90%;
        height: 30vh;
        margin: 0 auto;
    }
    .sort_blue04_intro_img{
        height: 70vh;
        background: url(../images/H-yellow-chair-07.png) no-repeat center center;
        background-size: 80%;
        margin: -86% -13% 0 -59%;
    }
    .sort_blue04_intro_txt{
        width: 80%;
        margin: -50px auto 0 auto;
    }
    .sort_blue04_intro_txt > h3{
        color: #736358;
        font-family: 'SourceHanSerifTC-SemiBold';
        font-size: 20px;
        line-height: 60px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    .sort_blue04_intro_txt > p{
        color: #827E74;
        font-family: 'Noto Sans TC';
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    /* 推薦商品導引文字 */
    .sort_blue04_rec{
        text-align: center;
        padding-top: 90px;
    }
    .sort_blue04_rec > h5{
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 0.3em;
        font-family: 'Noto Sans TC';
        color: #fff;
        text-align: center;

    }
    .sort_blue04_rec > figure{
        height: 25px;
        width: 25px;
        margin: 8px auto;
    }
    .sort_blue04_rec > figure img{
        height: 100%;
        object-fit: contain;
    }
    /* 輪播商品 */
    .sort_blue04_rec_product{
        height: 28%;
    }
    /* 商品列表 */
}