.sort_red01{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* 背景 */
.sort_red01_bg{
    width: 100%;
    height: 100%;
}
.sort_red01_bg_l{
    width: 65%;
    height: 100%;
    background-color: #ad776c;
    float:left;
} 
.sort_red01_bg_r{
    width: 35%;
    height: 100%;
    background-color: #662424;
    float: right;
}
/* 前方圖片與色塊 */
.sort_red01_top{
    width: 90%;
    height: 100%;
    margin: -80vh 0 0 0;
    float: right;
}
.sort_red01_top>figure{
    width: 100%;
    height: 80%;
    background: url(../images/article/41831742764_29cab9c5a9_k.jpg) no-repeat 60% bottom;
    background-size: cover;
    position: relative;
}
.sort_red01_top_box1{
    height: 20%;
    width: 40%;
    background-color: #ad776c;
    position: absolute;
    bottom: 0;
    left: 0;
}
.sort_red01_top_box2{
    width: 20%;
    height: 15%;
    background-color: #662424;
    position: absolute;
    top: 0;
    right: 0;
}
.sort_red01_top_topic{
    z-index: 5;
    position: absolute;
    left: 10%;
    bottom: 17%;
}
.sort_red01_top_topic>h2{
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: #fff;
    font-family: 'Playfair Display';
}
.sort_red01_top_topic>h3{
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #fff;
    font-family: 'SourceHanSerifTC-Bold';
}

/* part5 */
.sort_red05{
    /*width: 70%;*/
    flex-direction: column;
    justify-content: space-between;
}
.sort_red05_sec1{
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
}
.sort_red05_sec1 li{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    line-height: 20px;
    letter-spacing: 0.1em;
}
.sort_red05_filter{
    width: 130px;
    background-color: #000;
    border-radius: 40px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.sort_red05_filter:hover{
    background-color: #666;
}
.sort_red05_filter>figure{
    width: 20px;
    height: 20px;
    background: url(../images/icon/filter.svg) no-repeat center center;
    background-size: cover;
    margin-left: 10px;
    float: left;
}
.sort_red05_byprice>figure, .sort_red05_bytime>figure{
    width: 10px;
    height: 15px;
    background: url(../images/icon/next.svg) no-repeat center center;
    background-size: cover;
    margin: 3px 10px 0 3px;
    float: right;
}
.sort_red05_row{
    width: 100%;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sort_red05_box_s{
    width: 48%;
    height: 100%;
    position: relative;
}
.sort_red05_box_s figure{
    background-color: rgb(250, 250, 250);
}
.sort_red05_box_s img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product_mask h3.product_name a{
font-size: 20px;
font-family: 'Playfair Display';
font-weight: 700;
color: #fff;
line-height: 40px;
}
/* 篩選 */
.filter_sec1 {
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
}

.filter_sec1 li {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    line-height: 20px;
    letter-spacing: 0.1em;
}

.filter_filter {
    width: 130px;
    background-color: #000;
    border-radius: 40px;
    color: #fff;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.filter_filter:hover {
    background-color: #666;
    cursor: pointer;
}

.filter_filter>figure {
    width: 20px;
    height: 20px;
    background: url(../images/icon/filter.svg) no-repeat center center;
    background-size: cover;
    margin-left: 10px;
    float: left;
}

.filter_byprice>figure,
.filter_bytime>figure {
    width: 10px;
    height: 15px;
    background: url(../images/icon/next.svg) no-repeat center center;
    background-size: cover;
    margin: 2px 0 0 4px;
    float: right;
}

.filter_byprice,
.filter_bytime {
    border: 1px solid #999;
    border-radius: 40px;
    padding: 8px;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    line-height: 20px;
    letter-spacing: 0.1em;
}

.filter_byprice:hover,
.filter_bytime:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

/* 篩選第一層 */
.flex {
    display: flex;
}

.filter {
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-direction: space-between;
}

/* .filter_inner {

    display: fixed;
    background:rgb(30, 30, 30);
    width:100vw;
    height: 100vh;
    opacity: 1;
    max-height: 0;
    overflow: hidden;
    padding: 50% 0 0 0;
    z-index: 99;
} */
.filter_inner{
    background-color: #000;
    height: 10vh;
    width: 100vw;
    transition: all .5s;
    display: none;
}
.show_filter_inner{
    transition: all .5s;
    height: 100vh;
    display: block;
    float: right;
}

.filter_color {
    height: 30%;
}

.filter_item {
    height: 40%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
/* 選顏色 */

.filter_color {
    align-items: center;
    justify-content: center;
}

.filter_color_box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 60px auto 15px auto;
}

.filter_color_in {
    margin: 0 0 0 80px;
    color: #999;
}

.filter_color1 {
    background-color: #662424;
}

.filter_color2 {
    background-color: #ad776c;
}

.filter_color3 {
    background-color: #a4594a;
}

/* 選品項 */

.filter_item li {
    margin: 50px 10px 0 0;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid #000;
}
.filter_item p{
    color: rgb(240, 240, 240);
    letter-spacing: 0.3em;
    text-align: center;
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
    margin-top: 10px;
}

.filter_item li:hover {
    border-radius: 20px;
    border: 1px solid #999;
    cursor: pointer;
}
.filter_item figure{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}
.filter_item01 figure{
    background: url(images/icon/filter_chair.svg) no-repeat center center;
    background-size: cover;
}
.filter_item02 figure{
    background: url(../images/icon/filter_table.svg) no-repeat center center;
    background-size: cover;
}
.filter_item03 figure{
    background: url(../images/icon/filter_sofa.svg) no-repeat center center;
    background-size: cover;
}
.filter_item04 figure{
    background: url(../images/icon/filter_shelf.svg) no-repeat center center;
    background-size: cover;
}
.filter_item05 figure{
    background: url(../images/icon/filter_light.svg) no-repeat center center;
    background-size: cover;
}
.filter_item06 figure{
    background: url(../images/icon/filter_deco.svg) no-repeat center center;
    background-size: cover;
}
.item_choose{
    border: 1px solid rgb(240, 240, 240);
}
/* 選高度寬度 */

.filter_sbar {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 40%;
    flex-direction: column;
    justify-content: center;
}

.filter_sbar1,
.filter_sbar2 {
    width: 70%;
    margin-bottom: 50px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #888;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.sbar1_txt{
    padding:20px 0 0 0;
    text-align: center;
    color: #fff;
}

.filter_open {
    height: auto;
    opacity: 1;
}

/* 頁碼 */
.sort_red05_page{
    width: 100%;
    height: 40px;
    margin: 70px 0 50px 0;
    text-align: center;
}
.sort_red05_page li{
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 10px 2px 2px 2px;
    color: #888;
    transition: all .5s;
}
.sort_red05_page li:hover{
    color:#000;
}
.sort_red05_page .page{
    margin: 0 8px 0 8px;
}
.sort_red05_page .page:hover{
    border-bottom: 1px solid #000;
}
.page_prev, .page_next{
    width: 90px;
}
.page_next{
    padding-left: 10px;
}
.page_prev figure{
    height: 15px;
    width: 25px;
    background: url(../images/icon/arrow.svg) no-repeat center center;
    background-size: contain;
    float: left;
}
.page_next figure{
    height: 15px;
    width: 25px;
    background: url(../images/icon/arrow2.svg) no-repeat center center;
    background-size: contain;
    float: right;
}

/* 商品列表 */
.sort_red05_pname{
    margin-top: 2px;
}
.sort_red05_pname>h2{
    text-align: center;
    color: #000;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 28px;
}
.sort_red05_pname>h3{
    text-align: center;
    color: #000;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
}

/* 手機板 */
@media screen and (max-width:800px){
/* header */
    
/* 顏色1 */
    .sort_red02{
        padding: 50px 0; 
    }
    .sort_red02_h2{
        font-weight: 700;
        font-family: 'Playfair Display';
        letter-spacing: 0.05em;
        text-align: left;
        color: #a4594a;
        font-size: 80px;
        line-height: 80px;
    }
    .sort_red02_intro_top{
        width: 100%;
        height: 60%;
        overflow: hidden;
    }
    .sort_red02_intro_bg{
        background-color: #fff;
        width: 90%;
        height: 30vh;
        margin: 0 auto;
    }
    .sort_red02_intro_img{
        height: 70vh;
        background: url(../images/H-red-chair-07.png) no-repeat center center;
        background-size: contain;
        margin: -60% 0 0 -30%;

    }
    .sort_red02_intro_txt{
        width: 80%;
        margin: 0 auto;
    }
    .sort_red02_intro_txt > h3{
        color: #a4594a;
        font-family: 'SourceHanSerifTC-SemiBold';
        font-size: 20px;
        line-height: 60px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    .sort_red02_intro_txt > p{
        color: #c09898;
        font-family: 'Noto Sans TC';
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    /* 推薦商品導引文字 */
    .sort_red02_rec{
        text-align: center;
        padding-top: 90px;
    }
    .sort_red02_rec > h5{
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 0.3em;
        font-family: 'Noto Sans TC';
        color: #fff;
        text-align: center;

    }
    .sort_red02_rec > figure{
        height: 25px;
        width: 25px;
        margin: 8px auto;
    }
    .sort_red02_rec > figure img{
        height: 100%;
        object-fit: contain;
    }
    /* 輪播商品 */
    .sort_red02_rec_product{
        
    }
    /* 推薦商品 */
.sort_red02_rec_product{
    height: 30%;
    justify-content: space-between;
    padding-top: 30px;
}
.sort_red02_rec_product a{
    text-decoration: none;
}
.sort_red02_rec_product_s{
    width: 20%;
    height: 100%;
    text-align: center;
}
.sort_red03_rec_product_img{
    width: 100%;
    height: 100%;
}
.sort_red03_rec_product01 img, .sort_red03_rec_product03 img{
    height: 100%;
    width: 60%;
    object-fit: contain;
    margin: 0 auto;
}
.sort_red03_rec_product02 img{
    height: 100%;
    width: 90%;
    object-fit: cover;
    margin: 0 auto;
}
.sort_red02_rec_product_l{
    width: 35%;
    height: 100%;
    text-align: center;
}
.sort_red02_rec_product01{
    height: 80%;
}
.sort_red02_rec_product02{
    height: 80%;
    background: url(../images/H-red-chair-06.png) no-repeat center center;
    background-size: cover;
}
.sort_red02_rec_product03{
    height: 80%;
    background: url(../images/H-red-chair-01.png) no-repeat center center;
    background-size: contain;
}
.sort_red02_rec_product h6{
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-family: 'Playfair Display';
}

/* 顏色2 */
    .sort_red03{
        padding: 50px 0; 
    }
    .sort_red03_h2{
        font-weight: 700;
        font-family: 'Playfair Display';
        letter-spacing: 0.05em;
        text-align: left;
        color: #973612;
        font-size: 80px;
        line-height: 80px;
    }
    .sort_red03_intro_top{
        width: 100%;
        height: 60%;
        overflow: hidden;
    }
    .sort_red03_intro_bg{
        background-color: #fff;
        width: 90%;
        height: 30vh;
        margin: 0 auto;
    }
    .sort_red03_intro_img{
        height: 70vh;
        background: url(../images/H-red-chair-05.png) no-repeat center center;
        background-size: cover;
        margin: -70% 0 0 -30%;
    }
    .sort_red03_intro_txt{
        width: 80%;
        margin: 0 auto;
    }
    .sort_red03_intro_txt > h3{
        color: #973612;
        font-family: 'SourceHanSerifTC-SemiBold';
        font-size: 20px;
        line-height: 60px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    .sort_red03_intro_txt > p{
        color: #efa98c;
        font-family: 'Noto Sans TC';
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    /* 推薦商品導引文字 */
    .sort_red03_rec{
        text-align: center;
        padding-top: 90px;
    }
    .sort_red03_rec > h5{
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 0.3em;
        font-family: 'Noto Sans TC';
        color: #fff;
        text-align: center;

    }
    .sort_red03_rec > figure{
        height: 25px;
        width: 25px;
        margin: 8px auto;
    }
    .sort_red03_rec > figure img{
        height: 100%;
        object-fit: contain;
    }
    /* 輪播商品 */
    .sort_red03_rec_product{
        height: 28%;
    }
/* 顏色3 */
    .sort_red04{
        padding: 50px 0; 
    }
    .sort_red04_h2{

        font-weight: 700;
        font-family: 'Playfair Display';
        letter-spacing: 0.05em;
        text-align: left;
        color: #a4594a;
        font-size: 80px;
        line-height: 80px;
    }
    .sort_red04_intro_top{
        width: 100%;
        height: 60%;
        overflow: hidden;
    }
    .sort_red04_intro_bg{
        background-color: #fff;
        width: 90%;
        height: 30vh;
        margin: 0 auto;
    }
    .sort_red04_intro_img{
        height: 70vh;
        background: url(../images/H-pink-chair-09.png) no-repeat center center;
        background-size: cover;
        margin: -75% 0 0 -30%;
    }
    .sort_red04_intro_txt{
        width: 80%;
        margin: 0 auto;
    }
    .sort_red04_intro_txt > h3{
        color: #a4594a;
        font-family: 'SourceHanSerifTC-SemiBold';
        font-size: 20px;
        line-height: 60px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    .sort_red04_intro_txt > p{
        color: #a4594a;
        font-family: 'Noto Sans TC';
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        text-align: left;
        letter-spacing: 0.1em;
    }
    /* 推薦商品導引文字 */
    .sort_red04_rec{
        text-align: center;
        padding-top: 90px;
    }
    .sort_red04_rec > h5{
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 0.3em;
        font-family: 'Noto Sans TC';
        color: #fff;
        text-align: center;

    }
    .sort_red04_rec > figure{
        height: 25px;
        width: 25px;
        margin: 8px auto;
    }
    .sort_red04_rec > figure img{
        height: 100%;
        object-fit: contain;
    }
    /* 輪播商品 */
    .sort_red04_rec_product{
        height: 28%;
    }
    /* 商品列表 */
}