@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,|Roboto:100,300,400,500,700,900);

@font-face {
    font-family: 'SourceHanSerifTC-Bold';
    src: url(../fonts/SourceHanSerifTC-Bold.otf);
  }
@font-face {
    font-family: 'SourceHanSerifTC-Heavy';
    src: url(../fonts/SourceHanSerifTC-Heavy.otf);
  }
@font-face {
    font-family: 'SourceHanSerifTC-SemiBold';
    src: url(../fonts/SourceHanSerifTC-SemiBold.otf);
  }

body{ padding:0; margin:0;font-family: 'Roboto', 'Noto Sans TC';font-weight: 400;font-size: 15px;line-height: 18px;letter-spacing: .1em;}
img{display: block;}

.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{*zoom:1;}

.transition{transition: all .5s;}
.flex{display: flex;}

/* 一般鏈結 */
a:link 		{ font:15px/18px 'Roboto', 'Noto Sans TC'; color:#000; text-decoration: none;}
a:visited { font:15px/18px 'Roboto', 'Noto Sans TC'; color:#000; text-decoration: none;}
a:hover 	{ font:15px/18px 'Roboto', 'Noto Sans TC'; color:#000; text-decoration: underline;}
a:active 	{ font:15px/18px 'Roboto', 'Noto Sans TC'; color:#000; text-decoration: underline;}

/* 網站主內容架構 */
.index_top{  width:100%; height:auto; position:relative;z-index: 10;}
.index_main{width:100%; margin:0 auto;min-height:100vh;padding: 0}
.index_main section{padding: 50px 15px;}
.index_footer{width:100%; clear:both; margin:0 auto;background: #000;height: 300px; z-index: 99;position: absolute;}

/* 內容架構，不做滿版時限制寬度為1200 */
.index_conten{width:100%; max-width:1200px;margin:0 auto;}
.index_conten_flex{width:100%; max-width:1200px;margin:0 auto;display: flex;flex-direction: column;}
.index_conten_l{width:100%;margin:0 auto;}
.index_conten_r{width:100%;margin:0 auto;}

/* 文字＆標題 */
/* Photoshop 里设置的间距值/1000＝以 em 为单位的所得值（letter-spacing: Xem） */

/* button */
button,input[type="button"],input[type="submit"],a.palette_btn{display: block;border: 0px solid #000;border-radius: 20px; text-align: center; color: #fff; font-size: 15px;letter-spacing: .3em;background: #000;line-height: 40px; padding: 0 32px 0 40px;margin: 0 auto;cursor: pointer;text-decoration: none;transition: all .5s; 
  -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;     /* FireFox */
  appearance: none;}
input[type="button"].palette_btn_back,a.palette_btn_back{background-color: #888;}
button:hover,input[type="button"]:hover,input[type="submit"]:hover,a.palette_btn:hover{background: #444;}

a.palette_btncolor2{width: 100%;background-color: #e3e3e3;padding: 0 32px 0 40px;}
a.palette_btncolor2:hover{background-color: #888;}

/* input & form系列*/
input[type="text"],input[type="password"],input[type="password"],input[type="date"]{background:#e3e3e3;width: 100%;margin: 0 auto; height: 40px; border: 0px solid #000;border-radius: 20px;padding:0 12px;text-align: left;color: #888;font-size: 13px;line-height: 40px;letter-spacing:.1em;font-family: 'Roboto', 'Noto Sans TC';  
  -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;     /* FireFox */
  appearance: none;}
nput[type="text"].error{background:#e3e3e3;}
input[type="text"].member_name{width: 55%; margin: 0;}
input[type="text"].margin_top{margin: 10px 0 0;}

.radio_box{position: relative; height: 40px;}
.radio_box span{line-height: 40px;}
input[type="radio"],.radio_box input[type="checkbox"]{ display:block;  width: 12px;  height: 12px;  margin: 13px 5px; -webkit-appearance: none;  background-color: transparent;  border: 1px solid #888;  border-radius: 50%;float: left;}
input[type=radio]:checked,.radio_box input[type=checkbox]:checked {border: 1px solid #000;}
input[type=radio]:checked::after,.radio_box input[type=checkbox]:checked::after  {  content: "";  display:block;  width: 6px;  height: 6px;  border-radius: 50%;  text-align: center;  background-color: transparent;margin: 2px;background-color: #000; }
input[type=radio] + span.radio_content,.radio_box input[type=checkbox] + span.radio_content{font-weight: 200;font-size: 13px;} 
input[type=radio]:checked + span.radio_content,.radio_box input[type=checkbox]:checked + span.radio_content{font-weight: 400;} 

.submit_point{text-align: center;font-size: 13px;color:#e54728;width: 100%;font-weight: 400;}

/* textarea */
textarea{background:#e3e3e3;width: 100%;margin: 0 auto;border: 0px solid #000;border-radius: 20px;padding:0 20px;text-align: left;color: #888;font-size: 15px;line-height: 40px;letter-spacing:.1em;font-weight: 200;font-family: 'Roboto', 'Noto Sans TC';}

/* select */
.palette_select{width: 100%;}
.palette_select select {width: 100%;margin: 0 auto; height: 40px; border: 0px solid #000;border-radius: 20px;appearance:none; -moz-appearance:none; -webkit-appearance:none; background:#e3e3e3 url(../images/icon/next.svg) no-repeat center right 10px;
 background-size: 11px auto;font-size: 13px;line-height: 40px;letter-spacing:.1em;font-family: 'Roboto', 'Noto Sans TC'; padding:0 10px 0 12px;text-align: left;color: #888;
}
.palette_select option{font-size: 16px;line-height: 18px;letter-spacing: 2px;font-family: 'Roboto', 'Noto Sans TC';padding:0;border: 0px solid #000;margin: 40px auto 0;}
.member_input40{width: 42%; margin: 0 3% 0 0;}
.member_input50{width: 49%;}
p.address_num{width: 10%;color: #888;}
.member_input25{width:26%;}

/* icon */
.icon_garbage{width: 16px; height: 19px;margin: 0 auto; background: url(../images/icon/garbage.svg) center no-repeat; background-size: 100% auto;cursor: pointer;opacity: 1;transition: all .5s;}
.icon_garbage:hover{opacity: .5;}

.icon_love{width: 19px; height: 19px;margin: 0 auto; background-image: url(../images/icon/heart.svg);background-position:center;background-repeat: no-repeat; background-size: 100% auto;cursor: pointer;transition: all .5s;}
.icon_love:hover{ background-image: url(../images/icon/heart_hover.svg);}

/* fancybox */
.fancybox-slide--html .fancybox-content{width:90%;}

/* header */
#index .index_main,#index .index_main section {padding: 0;}
#heard .index_main{background: url(../images/banner/avenue-boiserie.jpg) bottom center repeat-y;background-attachment: fixed;background-size: cover;min-height:500vh;}
header{position: fixed;top: 0;width: 100%;height: 60px; transition: all .5s;background-color: rgba(0,0,0,0);z-index: 999;}
header h1{display: block;margin: 0 0 0 15px;}
header h1 a.palette_logo{color: #fff;letter-spacing: .1em;z-index: 9999;font-size: 24px;line-height: 60px;font-family: 'Playfair Display';text-decoration: none;}
.index_top nav{position: absolute;right: 0;top: 0;height: 100%;display: inline-flex;}

/* 螢幕滑過800後加入class */
header.fixed_bg{background-color: rgba(0,0,0,1);}

.palette_menu {cursor: pointer;z-index: 999;}
.menu_icon{width: 30px;height: 20px;margin: 20px auto;cursor: pointer;position: relative;z-index: 999;right:15px;}
.menu_icon .bar{width:100%;height:2px;border-radius: 2px;background-color: #fff; position: absolute;right: 0;}
.menu_icon .bar:nth-child(2){margin:9px auto 7px;}
.menu_icon .bar:nth-child(3){width: 70%;bottom: 0;}
.menu_active .bar{-webkit-transform: rotate(-45deg) translate(-5px, 5px) ;transform: rotate(-45deg) translate(-5px, 5px) ;}
.menu_active .bar:nth-child(2){opacity: 0;}
.menu_active .bar:nth-child(3){-webkit-transform: rotate(45deg) translate(-5px, -5px) ; transform: rotate(45deg) translate(-7px, -7px);width: 100%;}
.menu_active:hover .bar{width: 100%;}
.menu_active:hover .bar:nth-child(3){width: 100%;}

.palette_menu_open{position: absolute;right:-100vw;top:0px;background:#000;display:inline-flex;width:100vw;opacity: 0;height: 100vh;z-index: 998;justify-content: center;align-items: center;overflow: hidden;}
.menu_active .palette_menu_open{opacity: 1;right:-0px}
.palette_menu_open .palette_menubox{width:90vw;height: 90vh;display: inline-flex;}
.palette_menu_open .palette_menubox .menubox_l{width: 100%;height:calc(100% - 60px);overflow-y: auto;display: inline-flex;align-content: center;flex-wrap: wrap;}
.menubox_l h3.menutile{width: 100%;text-align: center;margin: 10px;position: relative;}
.menubox_l h3.menutile a.menutile_link{color: #ccc;line-height: 24px;font-size: 24px; font-family:'SourceHanSerifTC-SemiBold';text-decoration: none;transition: all .5s; letter-spacing: 0.2em;}
h3#menutile a.menutile_link::after,h3#menutile2 a.menutile_link::after{background: url(../images/icon/next.svg) center no-repeat;background-size: 15px auto;content: '';display: block;width: 20px;height: 24px;position: absolute; right: 20vw;top: 0;}
.menubox_l h3.menutile a.menutile_link span{font-family: 'Playfair Display';font-weight: 400;font-size: 18px;letter-spacing: .1em;;line-height: 30px;display: block;}

.menutile_box1{	transition: all 0.3s ease; height: 0px;overflow: hidden;}
.menutile_box1 .menutile_link2{color: #fff;line-height: 28px;font-size: 15px;text-decoration: none;display: block;height: 28px;letter-spacing: .2em; font-family:'SourceHanSerifTC-SemiBold';}
.menutile.open .menutile_box1{height: 150px;padding: 10px 0 0 0;}
h3#menutile2.open .menutile_box1{height: 122px;padding: 10px 0 0 0;}


.car_icon{width: 30px;height: 30px;opacity: 1;cursor: pointer;background: url(../images/icon/shopping-cart.svg) center no-repeat;position: relative;background-size: 88% auto;margin: 0 auto; right: 35px;margin: 15px auto;}
.car_icon a{display: block;text-decoration: none;}
.car_icon span{width: 20px;height: 20px;position: absolute;top:0px;right: -9px;border-radius: 50%;background-color: #c82424;color: #fff;font-size: 12px;text-align: center;line-height: 20px;transition: all .5s;letter-spacing: 0;}

/* menu_iconbar */
.menu_iconbar{position: absolute;left:0;bottom:30px;display: inline-flex;width: 100%;justify-content: center;}
.menu_iconbar>a{display: block;text-decoration: none;width: calc(100%/4);}
.menu_iconbar>a span.icontitle{display:block;width: 100%; opacity: 1; color: #fff;font-size: 12px;text-align: center;margin: 0 0 0 0;}

.search_icon,.member_icon,.padlock_icon,.padunlock_icon,.menu_iconbar .car_icon{width:80%;height: 40px;opacity: 1;cursor: pointer;mask-size: 80% auto;-webkit-mask-size: auto 80%;mask-repeat: no-repeat;-webkit-mask-repeat: no-repeat;margin: 0 auto; background:#fff;mask-position: center center;-webkit-mask-position: center center;transition: all .5s;}

.search_icon{-webkit-mask-image: url(../images/icon/search.svg);mask-image: url(../images/icon/search.svg);}
.member_icon{-webkit-mask-image: url(../images/icon/member_center.svg);mask-image: url(../images/icon/member_center.svg);}
.padlock_icon{-webkit-mask-image:url(../images/icon/padlock.svg);mask-image:url(../images/icon/padlock.svg);}
.padunlock_icon{-webkit-mask-image:url(../images/icon/padunlock.svg);mask-image:url(../images/icon/padunlock.svg);}
.menu_iconbar .car_icon{-webkit-mask-image:url(../images/icon/shopping-cart.svg);mask-image:url(../images/icon/shopping-cart.svg);right: auto;}

nav > a.member_icon{margin: 15px auto 0;display: block;}

.go_top{background: url(../images/icon/next.svg) center no-repeat; background-size: 25px auto; width: 40px;height: 40px;position: fixed;bottom: 30px; right: 30px;transform: rotate(180deg);border-radius: 50%;background-color: rgba(255,255,255,.0);transition: all .5s;cursor: pointer;display: none;}
.go_top:hover{background-color: rgba(255,255,255,.6);}

.menu_list{height: 80%;width: 100%;display: inline-flex; align-content: center;flex-wrap: wrap;}
.menu_list a{font-size: 12px;color: #fff; display: block;writing-mode: tb-rl;line-height: 40px;text-transform: uppercase;text-decoration: none;position: relative;width: 40px;overflow: hidden;height: 80px;}


/* 麵包屑 */
.bread_crumbs{margin-left: 80px;}
.bread_crumbs ul li{display:inline-block; font-size: 13px; line-height: 36px;color: #fff;letter-spacing: .1em;text-transform: uppercase;font-weight: 200;}
.bread_crumbs ul li::after{content: ' / '; font-size: 13px; line-height: 36px;color: #fff;letter-spacing: .1em;}
.bread_crumbs ul li:last-child::after{content: '';}
.bread_crumbs ul li a{font-size: 13px; line-height: 36px;color: #fff;letter-spacing: .1em;font-weight: 200;}

.bread_crumbs_b{}
.bread_crumbs_b ul li,.bread_crumbs_b ul li::after,.bread_crumbs_b ul li a{color: #000;}

/* 商品 */
.product_list{display: inline-flex; justify-content: center;}
.product_box{ width: 100%; position: relative;}
.product_box >img{ width: 90%; height: auto; margin: 0 auto;}
.product_mask{ display:inline-flex;justify-content:center; align-items:center;position: absolute; top: 0; left: 0; background: rgba(0,0,0,.6); width: 100%; height:100%; text-align: center; opacity: 0;}
.product_mask:hover{ opacity: 1;}
.product_mask .product_name_h3 { margin: 0 0 5px 0;}
.product_mask .product_name_h3 a{ font-size: 20px; font-family: 'Playfair Display'; font-weight: 700; color: #fff; line-height: 40px;}
.product_mask .product_favorate{ width: 35px; height: 35px; background: url(../images/icon/heart_w.svg) no-repeat center center; background-size: cover;float: right; position:absolute; right:20px; top:20px;}
.product_name_nd_btn{ margin-top:20px;}
.quick_look_palette_btn{ margin: 20px 0 -20px 0;}


.product_price{font-family: Georgia, 'Times New Roman', Times, serif;font-size: 20px;color:#e54728;}
.product_price span{font-size: 15px;}

/* 頁碼 */
.page_num{width: 100%;text-align: center;margin: 20px auto 0;}
.page_num ul{display: inline-flex;justify-content: center;}
.page_num ul li{display: inline-block;text-align-last: center;color: #000;padding: 0 10px; font-family:'Playfair Display', 'Times New Roman', Times, serif; line-height: 18px;}
.page_num ul li:first-child a,.page_num ul li:last-child a{background-position: center;background-repeat: no-repeat; background-size:auto 10px;display: block;width: 30px;height: 18px;}
.page_num ul li:first-child a{background-image:  url(../images/icon/arrow_b.svg);}
.page_num ul li:last-child a{background-image:  url(../images/icon/arrow2_b.svg);}
.page_num ul li a{text-align: center;color: #000; opacity: .5;transition: all .5s;font-family:'Playfair Display', 'Times New Roman', Times, serif;text-decoration: none;line-height: 18px;}
.page_num ul li a:hover{opacity:1;}

/* footer */
#footer { background-color: #000;}
.footer { width: 100vw;height: auto;overflow: hidden; flex-direction: column;  justify-content: space-between;}
.footer_top,.footer_bottom { width: 100%;}
.footer_top { height: 20%;  margin: 60px 0 20px 0;}
.footer_top h2 {  font-size: 40px;  letter-spacing: 0.05em;  font-family: 'Playfair Display';  font-weight: 700;  color: #ad776c;}
.footer_bottom {  height: 80%; width: 100%;  justify-content: space-between;}
.footer_bottom h3 {  font-size: 18px;  letter-spacing: 0.1em;  font-family: 'SourceHanSerifTC-SemiBold';  font-weight: 700;  color: #fff;  margin-bottom: 20px;}
.footer_bottom_left {  width: 60%;  justify-content: flex-start;}
.footer_about li,.footer_contact li,.footer_notice li,.footer_service li {  font-size: 13px;  letter-spacing: 0.1em;  line-height: 25px;  font-family: 'Noto Sans TC'; font-weight: 300;  color: #fff;  display: block;  transition: all .5s;}
.footer_service li:hover,.footer_about li:hover,.footer_notice li:hover {  color: #ad776c;}
.footer_bottom_right>ul {  flex-direction: column;  justify-content: space-between;  margin: 0;}
.footer_bottom_right figure {  width: 40px;  height: 40px;  margin-right: 10px;  display: inline-block;}
.footer_bottom_right_icon1 {  background: url(../images/icon/facebook.svg) no-repeat center center;  background-size: cover;}
.footer_bottom_right_icon2 {  background: url(../images/icon/instagram.svg) no-repeat center center;  background-size: cover;}
.footer_bottom_right h4 {  font-size: 12px;  font-family: 'Roboto';  color: #fff;  letter-spacing: 0.01em;  line-height: 30px;}
.footer_bottom_right_mail {  width: 100%;  justify-content: flex-start;  align-items: flex-end;  margin-top: 40px;}
input[type="text"].footer_bottom_right_txtmail {  width: 75%;  height: 40px;  border: 1px solid #fff;  background: rgba(255, 255, 255, 0);  border-radius: 40px;  padding: 0;  margin: 0 10px 0 0;  text-align: center;}
.footer_bottom_right_send {  width: 20%;  height: 40px;  background-color: #666;  border-radius: 40px;  color: #fff;  font-size: 14px;  letter-spacing: 0.1em;  font-family: 'Noto Sans TC';  margin-left: 10px;  border: 1px solid #666;  padding: 0;  margin: 0;  font-weight: 300;}
@media screen and (max-width: 800px) {
  .footer_top {margin: 50px 0 0 25px; }
  .footer_top h2 {
      font-size: 30px;line-height: 40px; }
  .footer_bottom { margin: 20px 0 20px 0;flex-direction: column;}
  .footer_bottom_left {flex-direction: column;width: 100%;}
  .footer_bottom h3 {margin: 20px 0 20px 0; }
  .footer_bottom_left>ul {margin: 0;padding: 0 0 0 25px;border-top: 1px solid #333;}
  .footer_about_in, .footer_notice_in, .footer_service_in, .footer_contact_in {max-height: 0;overflow: hidden;transition: all .8s ease-in-out; }
  .footer_about li, .footer_contact li, .footer_notice li, .footer_service li{padding: 5px 0;font-size: 15px;color: #999;display: block;}
  .footer_bottom_right {width: 90%;margin: 50px 0 10px 25px; }
  .footer_bottom_right_input{margin: -20px 0 10px 0;}
}
.show_content {
  max-height: 500px;
}
/* filter篩選器 */
.filter_sec1 { width: 100%; height: 30px; margin-bottom: 0 auto;}
.filter_sec1 li { display: inline-block;  padding: 10px;  font-size: 14px;  font-family: 'Noto Sans TC'; line-height: 20px;  letter-spacing: 0.1em; width: 47%;}
.filter_filter { width: 130px; background-color: #000; border-radius: 40px; color: #fff; margin-right: 10px;  text-align: center;  justify-content: space-around;  align-items: center;}
.filter_filter:hover { background-color: #666; cursor: pointer;}
.filter_filter>figure {  width: 20px;  height: 20px; background: url(../images/icon/filter.svg) no-repeat center center;
  background-size: cover; margin-left: 10px;  float: left;}
.filter_byprice>figure,
.filter_bytime>figure { width: 10px; height: 15px; background: url(../images/icon/next.svg) no-repeat center center;
  background-size: cover; margin: 2px 0 0 4px; float: right;}
.filter_byprice,
.filter_bytime { border: 1px solid #999; border-radius: 40px; padding: 8px; font-size: 14px; font-family: 'Noto Sans TC'; line-height: 20px; letter-spacing: 0.1em;width: 47%;}
.filter_byprice:hover,
.filter_bytime:hover { background-color: rgb(240, 240, 240); cursor: pointer;}
#filter {width:100%}
.flex {  display: flex;}
.filter { width: 100%; height: 100%; flex-direction: column; flex-direction: space-between;}
.filter_inner { height: 100vh; width: 100vw;  flex-direction: column; justify-content: center; align-items: center;  background-color: #000;overflow: hidden; position: absolute; margin-top: 50px;z-index: 10;opacity: 0;}
.filter_color { height: 30%;}
.filter_item { height: 40%; width: 80%; justify-content: space-between;  align-items: center;}
.filter_sbar { height: 40%;  width: 80%;}
.filter_color {  align-items: center; justify-content: center;}
.filter_color_box {  width: 30px;  height: 30px;  border:3px solid #000; border-radius: 50%;  margin: 60px auto 15px auto;transition: all .5s;}
.filter_color_box:hover{cursor: pointer;border:3px solid #fff; }
.filter_color_in { margin: 0 0 0 80px;  color: #999;}
.filter_color1 { background-color: #662424;}
.filter_color2 { background-color: #ad776c;}
.filter_color3 { background-color: #a4594a;}
.filter_item li { margin: 50px 10px 0 0;  padding: 10px 30px;  border-radius: 20px;  border: 1px solid #000;}
.filter_item p{ color: rgb(240, 240, 240); letter-spacing: 0.3em;  text-align: center;  font-weight: 400;  line-height: 25px;  font-size: 15px;  margin-top: 10px;}
.filter_item li:hover { border-radius: 20px; border: 1px solid #999;  cursor: pointer;}
.filter_item figure{  width: 80px;  height: 80px;  margin-top: 10px;}
.filter_item01 figure{ background: url(../images/icon/filter_chair.svg) no-repeat center center;  background-size: cover;}
.filter_item02 figure{  background: url(../images/icon/filter_table.svg) no-repeat center center;  background-size: cover;}
.filter_item03 figure{  background: url(../images/icon/filter_sofa.svg) no-repeat center center;  background-size: cover;}
.filter_item04 figure{  background: url(../images/icon/filter_shelf.svg) no-repeat center center;  background-size: cover;}
.filter_item05 figure{  background: url(../images/icon/filter_light.svg) no-repeat center center;  background-size: cover;}
.filter_item06 figure{  background: url(../images/icon/filter_deco.svg) no-repeat center center;  background-size: cover;}
.item_choose{ border: 1px solid rgb(240, 240, 240);z-index: 99;}
.toggle_color{border: 3px solid #fff;border-radius: 50%;cursor: pointer;z-index: 99;}
.filter_sbar {  width: 100%;  justify-content: center;  align-items: center;  padding-top: 20px;}
.filter_sbar1,
.filter_sbar2 {width: 25%;}
.filter_sbar1 {margin-right: 80px;}
.slider {-webkit-appearance: none;  width: 100%;  height: 3px;  border-radius: 5px;  background: #888;  outline: none;  opacity: 0.7;  -webkit-transition: .2s;  transition: opacity .2s;}
.slider::-webkit-slider-thumb {  -webkit-appearance: none;  appearance: none;  width: 16px;  height: 16px;  border-radius: 50%;  background: #fff;  cursor: pointer;}
.sbar1_txt{  padding:20px 0 0 0;  text-align: center;  color: #fff;}
.filter_open { display: block;opacity: 1;}

/* alertdiv */
#alertdiv{position: fixed;overflow: hidden;padding: 30px 50px;top: 50%;left: 50%;text-align: center;line-height: 30px;background-color: rgba(247, 247, 247, .95);color: #444; transform: translate(-50%, -50%);box-shadow: 3px 4px 11px 0px rgba(78, 78, 78, 0.27);font-size: 15px;}
#alertdiv input[type="submit"]{background-color: #888;margin-top:10px;}

/* 加icon class */
.icon_love_click{ background-image: url(../images/icon/heart_w_hover.svg);}




